<h1 class="text-center">Here are all the jobs available for you in <%= city%></h1>
<table class="table table-striped">
  <% jobs.each do |job_line| %>
    <tr>
      <% job_line.each do |column| %>
        <td><%= column %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<table class="table table-striped">
  <% comp_data.each do |comp| %>
    <tr>
      <% comp.each do |data_point| %>
        <td><%= data_point %></td>
      <% end %>
    </tr>
  <% end %>
</table>
